* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

body {
    background: no-repeat center/100%  url(/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

img {
    width: 35px;
    margin-right: 15px;
    }

h1 {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2.2em;
}

label {
    font-size: large;
}

input[type=email], input[type=password] {
    width: 20em;
    padding: 10px 5px;
    border: 1px gray solid;
    border-radius: 8px;
}

input[type=email]:hover, input[type=password]:hover {
    border: 1px rgb(0, 106, 177) solid;
}

input[type=submit] {
    padding: 5px 25px;
    margin-top: 2em;
    background-color: rgb(42, 155, 235);
    border: 1px solid rgba(225, 250, 0, 0.2);
    border-radius: .5em;
    font-weight: bold;
    color: white;
}

input[type=submit]:hover {
    outline: 0;
    border: 1px rgb(0, 106, 177) solid;;
    box-shadow: 1px 1px 7px rgb(0, 106, 177);
}

textarea:focus, input:focus {
    outline: 0;
    border: 1px rgb(0, 106, 177) solid;;
    box-shadow: 1px 1px 7px rgb(0, 106, 177);
    
}
 
.login-box {
    border: transparent;
    border-radius: 1em;
    width: 25em;
    height: 30em;
    margin: 2em auto 0;
    text-align: center;
    background-color: #0b223acb;
    color: white;

}

section {
    padding: 20px 0px;
}

p {
    margin: 15px 0px 5px 0px;
}